/.upd
/.build_files
/updfile.json
/build/upd/.upd
/build/upd/dist
/build/upd/node_modules
/build/upd2/.upd
/build/upd2/.build_files
/build/upd2/dist
/build/upd2/node_modules
/build/upd2/updfile.json
/build/upd2/e2e_tests/.test-root
/dist
/node_modules
/resources/index.h
